.Weather {
    border: 1px solid #dadde1;
    border-radius: 4px;
    font-family: arial, sans-serif;
    color: #878787;
    padding: 16px;
    margin: 30px;
}

.Weather h1 {
    font-size: 30px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}

.Weather ul {
    padding: 0;
    margin-top: 10px;
}

.Weather li {
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    color: #0d6efd;
}

.Weather .temperature {
    font-size: 50px;
    line-height: 1;
    margin-left: 10px;
    position: relative;
    top: -5px;
    color: black;
}

.Weather .weather-temp {
  display: flex;
  align-items: center;
}

.Weather .unit {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -29px;
}





